.intro {
  color: brown;
}

p.blue {
  color: blue;
}

p.green {
  color: #00ff99
}

.emphasis {text-decoration: underline;}

h2, h3, h4 {
  font-style: bold;
  text-align: center;
}

img {
  float: right;
}

/*HIGHLIGHT FUNCTION*/
.highlight {
  border: 2px solid red;
  color: red;
}
